.main-chart-box{
    border-top:1px solid rgb(235,235,235);
    border-bottom:1px solid rgb(235,235,235);
    background-color: #fff;
}
.main-chart-title{
    height:40px;
    padding: 10px;
    border-bottom:1px solid rgb(235,235,235);
}
#main-chart{
    height: 350px;
}

.chat-box{
    border-radius: 5px;
    background-color: #fff;
}
.chat-heading{
    color:#5f6468;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 66px;
    line-height: 66px;
    padding-left: 15px;
    border-bottom:1px solid #eee;
}
.chat-body{
    padding: 15px;
}
.media-left{
    margin-right: 10px;
}
.chat-content{
    color:#888;
}
.avatar{
    width:50px;
    height:50px;
    border-radius: 25px;
}
/*
todolist
 */ 
.list-group-item{
    color:#5f6468;
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.list-group-item.active{
    font-size: 18px;
    font-weight: 300;
    height:66px;
    justify-content:center;
    -webkit-justify-content:center;
    align-items:center;
    -webkit-align-items:center;
}
input[type="checkbox"], input[type="radio"]{
    margin: 0;
    margin-right: 5px;
}
.todo-operate{
    align-self: flex-end;
}
.todo-operate i{
    margin-right: 5px;
}
